<?xml version="1.0"?>
<launch>
  <master auto="start"/>

    <arg name="osm_map_path" default="$(find osm_planner)/osm_example/map.osm"/>


  <node pkg="osm_planner" type="osm_planner_node" respawn="false" name="osm_planner_node" output="screen">
      <param name="Planner/osm_map_path" value="$(arg osm_map_path)"/>
      <rosparam file="$(find osm_planner)/config/ros_param.yaml" command="load" />
  </node>
 
 <node name="navigation_example" pkg="osm_planner" type="navigation_example">
	 <remap from="cmd_vel" to="turtle1/cmd_vel" />
 	 <remap from="position" to="odom" />
</node>
 <!-- <rosparam command="load" file="$(find osm_planner)/test/test_fei.yaml"/-->
<rosparam command="load" file="$(find osm_planner)/config/ros_param.yaml" />



<node name="rviz" pkg="rviz" type="rviz" args="-d $(find osm_planner)/rviz/osm.rviz" />




  <node pkg="osm_cartography" type="osm_server" name="osm_server" />

  <!-- start map visualization -->
  <node pkg="osm_cartography" type="viz_osm" name="viz_osm" >
    <param name="map_url" value="package://osm_planner/osm_example/map.osm" />
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="690975 3119274 0 -3.1 0 0 map local_map 100"/>


</launch>
